body{
    color: var(--color-primary);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: var(--cardW);
    background-color: #FFF;
    border-radius: 30px;
    height: 731px;
    box-shadow: 0px 34px 94px -30px #B3C7E3;
    padding: 60px 54px;
}

.price{
    display: flex;
    flex-direction: column;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 25px;
    margin-top: 29px;
}

.card-body-first{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zip-code{
    margin-top: 31px;
    width: 388px;
}

.zip-code p{
    color: #000;
}


.zip-code-structure{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border: 1px solid #B3C7E3;
    width: 240px;
}

.zip-code-structure input::placeholder{
    font-size: 18px;
    font-weight: 700;
    color: var(--292-e-5-a, #292E5A);
}

.zip-code-below{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 19px;
}

.check{
    width: 126px;
    height: 60px;
    background: #FFF;
}

.btn-1{
    background: linear-gradient(135deg, #5FF489 0%, #79F4F4 100%);
}
.btn-2{
    background: linear-gradient(135deg, #9CC4FF 0%, #B4A8FF 100%);
}